@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-family: "Gaegu", sans-serif;
    }

    :root {
        ---primary-color: #ff0000;
        ---dark-color: #191919;
        ---light-color: #f1f1f1;

    }

    body {
        background: var(---dark-color);
        padding-inline: 40px;
        -webkit-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
        height: 100vh;
        width: 100vw;
    }

    header {
        padding-block: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .navigations {
        position: absolute;
        top: -100%;
        left: 0%;
        padding: 40px;
        background: var(---dark-color);
        height: 100%;
        width: 100%;
        -webkit-transition: all ease 0.7s;
        -o-transition: all ease 0.7s;
        transition: all ease 0.7s;
    }

    .menu {
        font-size: 1.3rem;
        border-radius: 8px;
        border: 1px solid var(---light-color);
        color: var(---light-color);
        padding: 8px;
    }

    .navigations .navitems {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style: none;
        gap: 2rem;
    }

    .navitems li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: var(---light-color);
        -webkit-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    .navitems li a:hover {
        color: var(---primary-color);
    }

    .logo img {
        height: 50px;
    }

    .navitems {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .theme-changer {
        color: var(---light-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 8px;
        font-size: 1.3rem;
        border-radius: 8px;
        border: 1px solid var(---light-color);
    }

    .header-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .left-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        color: var(---light-color);
        gap: 20px;
        text-align: justify;
    }

    .primary {
        color: var(---primary-color);
    }

    .left-section button {
        padding: 4px 16px;
        font-size: 1.3rem;
        border: 2px solid var(---light-color);
        background: var(---dark-color);
        border-radius: 4px;
        color: var(---light-color);
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        cursor: pointer;
        outline: none;
    }

    .right-section img {
        height: 400px;
    }

    #skills {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-block: 20px;
    }

    #skills h1 {
        color: var(---light-color);
    }

    .skill-box {
        height: 70px;
        width: 70px;
        cursor: pointer;
        border: 2px solid var(---light-color);
        padding: 20px;
        color: var(---light-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 8px;
        font-size: 2rem;
    }
    .skills-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 35px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }


    #projects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        padding-block: 40px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: var(---light-color);
    }

    #projects h1 {
        color: var(---light-color);
    }

    .projects-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .project-box {
        height: 290px;
        width: 360px;
        border: 2px solid var(---light-color);
        border-radius: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .project-box h1 {
        font-size: 1rem;
    }

    .project-box img {
        border-radius: 50%;
        height: 160px;
        width: 160px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .project-box .buttons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }

    .project-box a {
        text-decoration: none;
        padding: 4px 8px;
        border-radius: 8px;
        border: 2px solid var(---light-color);
        color: var(---light-color);
        cursor: pointer;
    }

    #watchme {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
        padding-bottom: 40px;
    }

    #watchme h1 {
        color: var(---light-color);
        font-size: 1.5rem;
    }

    .icons-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .icon-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 8px;
        height: 50px;
        width: 50px;
        border: 2px solid var(---light-color);
        -webkit-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }

    .icon-box a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(---light-color);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 1.5rem;
        text-decoration: none;
    }

    #contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
        padding-block: 10px;
    }

    #contact h1 {
        color: var(---light-color);
    }

    .contact-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-block: 10px;
    }

    .contact-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        padding: 20px;
        border: 2px solid var(---light-color);
        color: var(---light-color);
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 8px;
    }

    .contact-box p {
        font-size: 1.3rem;
    }

    .contact-box ion-icon {
        font-size: 2rem;
    }
    .send-messages{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
    .send-messages h1{
        margin-top: 20px;
        text-align: start;
        font-size: 1.5rem;
        color: var(---light-color);
    }
    .send-messages form {
        display: flex;
        align-items: center;
        justify-content:center ;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .send-messages form .form__group{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .send-messages form .field-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    
    .send-messages form .field-box label {
        background: var(---dark-color);
        color: var(---light-color); 
        padding: 5px;
        font-size: 1.4rem; 
        pointer-events: none;
    }
    
    .send-messages form .field-box input {
        background: transparent;
        border: 2px solid var(---light-color);
        padding: 10px;
        width: 100%;
        height: 60px;
        font-size: 1.2rem;
        border-radius: 6px;
        font-size: 1.5rem;
        outline: none;
        color: var(---light-color);
    }
    
    .send-messages form .field-box input:focus {
        border-color: var(---primary-color); 
        color: var(---primary-color);
    }
    .send-messages form .message{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        width: 100%;
    }
    .send-messages form .message label{
        color: var(---light-color);
        font-size: 1.5rem;
    }
    .send-messages form textarea{
        background: transparent;
        height: 200px;
        outline: none;
        border-radius: 8px;
        padding: 20px;
        color: var(---primary-color);
        width: 100%;
    }
    .send-messages form textarea:focus{
        border: 2px solid var(---primary-color);
    }
    .send-messages form button{
        width: 100%;
        background: var(---primary-color);
        color: var(---light-color);
        height: 60px;
        font-size: 1.2rem;
        cursor: pointer;
        border: 2px solid var(---dark-color);
        border-radius: 8px;
    }
    footer{
        padding-block: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    footer .logo h1{
        color: var(---light-color);
    }
    footer .logo h1 .e{
        color: var(---primary-color);
    }
    footer p{
        color: var(---light-color);
    }
}