@media (min-width: 1281px) {
    *{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-family: "Gaegu", sans-serif;
    }
    :root{
        ---primary-color:#ff0000;
        ---dark-color:#191919;
        ---light-color:#f1f1f1;
        
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
    }
    section{
        padding-inline: 120px;
    }
    body{
        
        min-height: 100vh;
        width: 100vw;
        background: var(---dark-color);
        color: var(---light-color);
        -webkit-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    header{
        padding-block: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 60px;
    }
    nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-inline: 120px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .logo img{
        height: 70px;
        width: 70px;
    }
    .navigations{
        position: static;
    }
    .menu{
        display: none;
    }
    .navitems{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        list-style: none;
        gap: 15px;
    }
    .navitems li{
        padding: 4px 15px;
    }
    .navitems li a{
        color: var(---light-color);
        -webkit-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    .navitems li a:hover{
        color: var(---primary-color);
    }
    .theme-changer{
        color: var(---light-color);
        border: 2px solid var(---light-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 8px;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 8px;
    }
    .header-section{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 1rem;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .left-section{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1.4rem;
    }
    .left-section p{
        text-align: justify;
        font-size: 1.3rem;
    }
    .left-section button{
        padding: 4px 16px;
        width: 200px;
        font-size: 1.3rem;
        border: 2px solid var(---light-color);
        background: var(---dark-color);
        border-radius: 4px;
        color: var(---light-color);
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        cursor: pointer;
        outline: none;
    }
    .left-section button:hover{
        border: 2px solid var(---primary-color);
        background: var(---primary-color);
        color: var(---light-color);
        -webkit-box-shadow: 0px 0px 15px var(---primary-color);
                box-shadow: 0px 0px 15px var(---primary-color);
    }
    .primary{
        color: var(---primary-color);
    }
    .left-section h1{
        font-size: 3rem;
    }
    .right-section img{
        height: 600px;
    }
    #skills{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-block:50px ;
    }
    #skills .heading{
        text-align: center;
        font-size: 3rem;
        color: var(---light-color);
    }
    .skills-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .skill-box{
        height: 150px;
        border: 2px solid var(---light-color);
        padding: 20px;
        border-radius: 4px;
        width: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 4rem;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
    .skill-box:hover{
        border: 2px solid var(---primary-color);
        -webkit-transform: translateY(-4px);
            -ms-transform: translateY(-4px);
                transform: translateY(-4px);
        -webkit-box-shadow: 2px 0px 15px var(---primary-color);
                box-shadow: 2px 0px 15px var(---primary-color);
        color: var(---primary-color);
    }
    
    #projects{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-block: 40px;
        gap: 10px;
    }
    #projects .project-title{
        text-align: center;
        font-size: 3rem;
        padding: 40px;
        color: var(---light-color);
    }
    .projects-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 50px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
    }
    .project-box{
        padding: 2rem;
        border: 2px solid var(---light-color);
        border-radius: 8px;
        display: -webkit-box;
        width: 340px;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        cursor: pointer;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
        gap: 1rem;
    }
    .project-box:hover{
        border: 2px solid var(---primary-color);
        -webkit-box-shadow: 0px 0px 15px var(---primary-color);
                box-shadow: 0px 0px 15px var(---primary-color);
        -webkit-transform: translateY(-4px);
            -ms-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    .project-box img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .project-name{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .project-link{
        padding: 10px 80px;
        border: 2px solid var(---light-color);
        border-radius: 8px;
        text-decoration: none;
        color: var(---light-color);
        background: var(---dark-color);
        cursor: pointer;
    }
    #watchme{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 40px;
        padding-block:40px ;
    }
    #watchme h1{
        text-align: center;
        font-size: 3rem;
        color: var(---light-color);
    }
    .icons-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .icon-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 8px;
        height: 100px;
        width: 100px;
        -webkit-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        transition: 0.5s all ease;
        border: 2px solid var(---light-color);
    }
    .icon-box:hover{
        -webkit-transform: translateY(-4px);
            -ms-transform: translateY(-4px);
                transform: translateY(-4px);
        border: 2px solid var(---primary-color);
        -webkit-box-shadow: 0px 0px 15px var(---primary-color);
                box-shadow: 0px 0px 15px var(---primary-color);
    }
    .icon-box:hover a{
        color: var(---primary-color);
    }
    .icon-box a{
        color: var(---light-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 2rem;
    }
    #contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        padding-block: 40px;
    }
    #contact h1{
        text-align: center;
        font-size: 3rem;
        color: var(---light-color);
    }
    .contact-boxes{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-block: 40px;
    }
    .contact-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 320px;
        padding: 20px;
        border: 2px solid var(---light-color);
        color: var(---light-color);
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 8px;
    }
    .contact-box:hover{
        -webkit-transform: translateY(-4px);
            -ms-transform: translateY(-4px);
                transform: translateY(-4px);
        color: var(---primary-color);
        border: 2px solid var(---primary-color);
        -webkit-box-shadow: 0px 0px 15px var(---primary-color);
                box-shadow: 0px 0px 15px var(---primary-color);
    }
    .icon{
        font-size: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .contact-detail{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 5px;
    }
    .contact-detail p{
        font-size: 1.5rem;
    }
    .send-messages{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 4rem;
    }
    .send-messages h1{
        text-align: center;
        font-size: 3rem;
    }
    .send-messages form {
        display: flex;
        align-items: center;
        justify-content:center ;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .send-messages form .form__group{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .send-messages form .field-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    
    .send-messages form .field-box label {
        background: var(---dark-color);
        color: var(---light-color); 
        padding: 5px;
        font-size: 1.4rem; 
        pointer-events: none;
    }
    
    .send-messages form .field-box input {
        background: transparent;
        border: 2px solid var(---light-color);
        padding: 10px;
        width: 100%;
        height: 60px;
        font-size: 1.2rem;
        border-radius: 6px;
        font-size: 1.5rem;
        outline: none;
        color: var(---light-color);
    }
    
    .send-messages form .field-box input:focus {
        border-color: var(---primary-color); 
        color: var(---primary-color);
    }
    .send-messages form .message{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .send-messages form textarea{
        background: transparent;
        height: 200px;
        outline: none;
        border-radius: 8px;
        padding: 20px;
        color: var(---primary-color);
        border: 2px solid var(---light-color);
        width: 100%;
    }
    .send-messages form textarea:focus{
        border: 2px solid var(---primary-color);
    }
    .send-messages form button{
        width: 100%;
        background: var(---primary-color);
        color: var(---light-color);
        height: 60px;
        font-size: 2rem;
        border: 2px solid var(---dark-color);
        border-radius: 8px;
        transition: all ease 0.7s;
    }
    .send-messages form button:hover{
        background: transparent;
        color: var(---primary-color);
        border-color: var(---primary-color);
    }
    footer{
        padding-inline: 120px;
        background: var(---light-color);
        display: -webkit-box;
        color: var(---dark-color);
        display: -ms-flexbox;
        padding-block: 2rem;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    }